body {
	margin: 0px;
	height: 2000px;
	font-family: "PingFangSC-Regular"; 
}

.item a, u {
	text-decoration: none;
	color: white;
}

.menu {
	position: absolute;
	bottom: 7px;
	right: 0px;
	visibility: hidden;
}
.nav {
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.nav .item {
	margin-left: 20px;
	margin-right: 20px;
	font-family: "PingFangSC-Regular";
	font-size: 18px
}
.item a {
	color: rgb(232,232,232);
}

#headerSpaceHolder {
	height: 0px;
}

input,button {
	border: none;
	outline: none;
}

input {
	border: 2px solid #c5464a;
	border-radius: 3px 0px 0px 3px;
	border-width: 0;
	font-size: 18px;
	background: white;
}

button {
	background-color: rgb(115,10,14);
	border-radius:0 3px 3px 0;
	width: 60px;
	height: 23px;
	font-size: 14px;
	color: white;
}

.searchbar {
	display: flex;
}
.nav :hover {
	color: white;
}
.main {
	margin-left: 30px;
	font-size: 45px;
	font-family: "KaiTi", "STKaiti";
	font-weight: bold;
}


.poster {
	background-image: url('./image/header.jpg');
	background-size: auto 120%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	z-index: 100;
}

.blur-holder {
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
}

.title {
	font-family: "KaiTi", "STKaiti";
	font-size: 100px;
	font-weight: 900;
	color: white;
}
.h1 {
	padding-top: 40px;
	padding-left: 30px;
	font-size: 52px; 
}

waterfall {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	grid-auto-rows: 50px;
	grid-gap: 10px;
	margin-top: 20px;
}

water {
	overflow: scroll;
	grid-row: span 13;
	flex-direction: column;
}

.card {
	background: rgba(255, 255, 255);
	border-radius: 5px;
}

[g1] {
	grid-row: span 3;
	background-color: rgb(244,244,244);
	border-radius: 0px;
}

[g2] {
	grid-row: span 14;
}

[g3] {
	grid-row: span 3;
	border-radius: 0px;
	/*background-color: rgba(100,42,21,0.3);*/
	background-image: url(./image/img14.jpg);
	background-size: 100%;
}

[g4] {
	grid-row: span 9;
}

[g5] {
	grid-row: span 12;
}

[g6] {
	grid-row: span 15;	
}

[g7] {
	grid-row: span 11;
}

[g8] {
	grid-row: span 12;
	border-radius: 0px;
}


.card-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-3:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



.masonry {
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}


.img {
	width: 100%;
}

.p {
	padding: 10px;
	font-size: 17px;
	text-align: justify;
	color: rgb(110,110,110);
}

.h2 {
	font-size: 26px;
	padding: 10px;
	font-family: "KaiTi", "STKaiti";
	font-weight: bold;
	text-align: center;
}

.d3 {
	font-size: 24px;
	color: rgb(70,70,70);
	padding-left: 7px;
	font-style: italic;
	text-align:9 center;
}


.f1 {
	font-size: 18px;
	padding-left: 10px;
	padding-top: 10px;
}

.f2 {
	font-size: 18px;
	padding-top: 18px;
	padding-left: 10px;
}

.a2 {
	color: rgb(0,0,0);
	font-size: 27px;
	padding-left: 12px;
	line-height: 0.8em;
}

.a3 {
	padding-top: 24px;
	padding-left: 23px;
	padding-bottom: 7px;
	font-size: 25px;
	font-style: italic;
	font-weight: bold;
}

.a1 {
	font-size: 30px;
	padding-top: 20px;
	padding-left: 10px;
}

.b1 {
	display: inline;
	font-family: cursive;
	font-size: 38px;
	padding-left: 35px;
	color: white;
}

.b2 {
	display: inline;
	font-family: cursive;
	font-size: 40px;
	color: white;
	padding-left: 71px;
}

.a2 a {
	color: black;
	font-style: italic;
}

.a4 {
	font-family: "KaiTi", "STKaiti";
	font-size: 30px;
	padding: 40px;
	margin: 20px;
	margin-top: 40px;
	background-image: url('./image/img10.jpg');
	background-size: 100%;
	text-align: center;
}

.a5 {
	font-size: 27px;
	color: white;
	font-family: "KaiTi", "STKaiti";
	padding: 18px;
	padding-top: 46px;
	padding-bottom: 22px;
	margin: 20px;
	margin-top: 40px;
	background-image: url('./image/img11.jpg');
	background-size: 100%;
}

.a6 {
	font-size: 27px;
	color: white;
	font-family: "KaiTi", "STKaiti";
	padding: 18px;
	padding-top: 46px;
	padding-bottom: 22px;
	margin: 20px;
	margin-bottom: 54px;
	margin-top: 40px;
	background-image: url(./image/img13.jpg);
	background-size: 100%;
}

.a4 a {
	text-decoration: none;
	color: black;
}

.a5 a {
	text-decoration: none;
	color: white;
}

.a6 a {
	text-decoration: none;
	color: white;
}

p {
	font-size: 17px;
	padding-left: 10px;
}

.d3 a {
	color: rgb(70,70,70);

}
