body {
	margin: 0px;
	height: 2000px;
}

a, u {
	text-decoration: none;
	color: white;
}

.menu {
	position: absolute;
	bottom: 7px;
	right: 0px;
	visibility: hidden;
}
.nav {
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.nav .item {
	margin-left: 20px;
	margin-right: 20px;
	font-family: "PingFangSC-Regular";
	font-size: 18px
}
.item a {
	color: rgb(232,232,232);
}

#headerSpaceHolder {
	height: 0px;
}

input,button {
	border: none;
	outline: none;
}

input {
	border: 2px solid #c5464a;
	border-radius: 3px 0px 0px 3px;
	border-width: 0;
	font-size: 18px;
	background: white;
}

button {
	background-color: rgb(115,10,14);
	border-radius:0 3px 3px 0;
	width: 60px;
	height: 23px;
	font-size: 14px;
	color: white;
}

.searchbar {
	display: flex;
}
.nav :hover {
	color: white;
}
.main {
	margin-left: 30px;
	font-size: 45px;
	font-family: "KaiTi", "STKaiti";
	font-weight: bold;
}

.secondary {
	margin-left: 50px;
	margin-top: 10px;
	font-size: 21px;
}

.poster {
	background-image: url('./image/header.jpg');
	background-size: auto 120%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

.blur-holder {
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
}

.title {
	font-family: "KaiTi", "STKaiti";
	font-size: 100px;
	font-weight: 900;
	color: white;
}
.h1 {
	padding-top: 40px;
	padding-left: 30px;
	font-size: 52px; 
}

.subtitle {
	padding-left: 70px;
	font-size: 30px;
	padding-bottom: 40px;
}

.subject {
	margin-top: 20px;
	column-count: 3;
	column-gap: 2%;
	padding-left: 3%;
	padding-right: 3%;
}

waterfall {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	grid-auto-rows: 50px;
	grid-gap: 10px;
}

[short] {
	grid-row: span 3;
}

[tall] {
	grid-row: span 6;
}

[taller] {
	grid-row: span 9;
}

[tallest] {
	grid-row: span 14;
}

water {
	overflow: scroll;
	grid-row: span 8;
	flex-direction: column;
}

.masonry {
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 0 10px 2px rgb(86, 48, 25);
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.img {
	width: 100%;
}

.p {
	padding: 10px;
}

.h2 {
	font-size: 25px;
}

.h3 {
	font-size: 15px;
}

.p {
	font-size: 19px;
}

.f1 {
	font-size: 20px;
}

.f2 {
	font-size: 20px;
	padding-top: 18px;
}
